{% extends "account/auth/base.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% block main %}
<div class="body d-flex p-0">
    <div class="container-xxl d-flex justify-content-center align-items-center auth-h100">
        <div class="w-100 p-3 p-md-5 card border-0 bg-dark text-light" style="max-width: 32rem;">
            <div class="text-center mb-4">
                <a href="/"><img style="width:4rem;" src="{% static 'img/lot_logo.png' %}" alt="LOT Store"></a>
                <h1 class="h3 mt-3">Choose a new password</h1>
            </div>
            {% if validlink %}
            <form method="post" novalidate>
                {% csrf_token %}
                {{ form|crispy }}
                <button type="submit" class="btn btn-lg btn-light w-100 mt-3">Set password</button>
            </form>
            {% else %}
            <p>This reset link is invalid or has already been used. Please request a new one.</p>
            <p class="text-center mt-4"><a href="{% url 'password_reset' %}" class="text-secondary">Request a new link</a></p>
            {% endif %}
        </div>
    </div>
</div>
{% endblock main %}
